#page{
    position: relative;
}
#main{
    width: 1000px;
    height: 250px;
    margin-bottom: 50px;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px;
    position: absolute;
    top: 700px;
    left: 460px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: grey;

}
#stats{
    width: 120px;
    height: 200px;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px;
    background-color: grey;
    font-size: 12px;
    padding: 5px;
    opacity: 0.6;
    position: absolute;
    top: 50px;
    right: 12px;
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
}
#bag{
    position: relative;
    height: 100px;
    width: 120px;
}
#invertory{
    width: 120px;
    height: 130px;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px;
    background-color: grey;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    line-height: 0px;
    opacity: 0.6;
    position: absolute;
    top: 300px;
    right: 12px;
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
}

#fullinvertory{
    width: 500px;
    height: 500px;
    border: black 3px solid;
    border-radius: 10px;
    box-shadow:  0 0 10px 2px;
    background-color: grey;
    font-size: 12px;
    padding: 0px;
    text-align: center;
    line-height: 0px;
    opacity: 0.6;
    position: absolute;
    top: 150px;
    right: 710px;
    display: inline-block;
    font-family: 'Gochi Hand', cursive;
}

p{
    font-family: 'Gochi Hand', cursive;
    margin: 5px auto;
    width: 900px;
    height: 200px;
    font-size: 32px;
    padding: 10px;
    display: block;
}

#firstOption{
    position: absolute;
    bottom: 5px;
    left: 300px;
    color: white;
    background-color: black;
}

#secondOption{
    position: absolute;
    bottom: 5px;
    left: 450px;
    color: white;
    background-color: black;
}

#thirdOption{
    position: absolute;
    bottom: 5px;
    left: 600px;
    color: white;
    background-color: black;
}
input{
    position: absolute;
    bottom: 100px;
    right: 500px;
    width: 100px;
}

#nameButton{
    position: absolute;
    bottom: 100px;
    right: 500px;
}
#nextButton{
    position: absolute;
    bottom: 40px;
    right: 35px;
    color: white;
    background-color: black;
}

#nextButton2{
    position: absolute;
    bottom: 40px;
    right: 35px;
    color: white;
    background-color: black;
}
#gp{
    position: absolute;
    top: 25px;
    left: 750px;
}
#graves{
    position: absolute;
    top: 25px;
    left: 565px;
    height: 650px;
}

#twistedFate{
    position: absolute;
    top: 25px;
    left: 450px;
    height: 650px;
}
#tahmKench{
    position: absolute;
    top: 25px;
    height: 650px;
    left: 265px;
}
#golem{
    position: absolute;
    top: 25px;
    right: 160px;
    height: 650px;
    width: 660px;
}
#galio{
    position: absolute;
    top: 25px;
    right: 725px;
    height: 650px;
}
#garen {
    position: absolute;
    top: 25px;
    right: 725px;
}
#darius{
    position: absolute;
    top: 25px;
    right: 725px;
}
#fiora{
    position: absolute;
    top: 25px;
    right: 725px;
    height: 650px;
}
#maokai{
    position: absolute;
    top: 25px;
    right: 600px;
    height: 650px;
}
#defeat{
    position: absolute;
    top: 25px;
    right: 650px;
}
#lucian{
    position: absolute;
    top: 25px;
    right: 800px;
    height: 650px;
}
#jarvan{
    position: absolute;
    top: 25px;
    right: 800px;
    height: 680px;
}
#lux{
    position: absolute;
    top: 25px;
    right: 800px;
    height: 650px;
}
#vayne{
    position: absolute;
    top: 25px;
    right: 800px;
    height: 650px;
}